//   Primary colors
$pink: hsl(322, 100%, 66%);
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);
$very-pale-blue: hsl(0, 0%, 97%);
$white: hsl(0, 0%, 100%);
$grow-together-bc:rgb(246, 251, 255);
$grey: hsl(0, 0%, 50%);
$black: rgb(0, 0, 0);

//     Neutral colors
$very-dark-cyan: hsl(192, 100%, 9%);
$very-pale-blue: hsl(207, 100%, 98%);
